.availableStaffContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.staffLabel {
    margin: 0 5px;
}

.staffMemberOption {
    display: flex;
    align-items: center;
}

.errorMessageContainer {
    margin-bottom: 10px;
}