.columnDisplayContainer {
    display: flex;
    flex-direction: column;
}

.rowDisplayContainer {
    display: flex;
    align-items: center;
}

.staffContainer {

}

.serviceAndSession {

}

.paymentDetailsTooltip {

}

.paymentContent {
    width: auto;
    /*border: 3px solid yellow;*/
    margin: 0;
    padding: 0;
}

.paymentDetailsTooltipIcon {
    margin: 0 10px;
    border-radius: 50%;
    background: white;
    color: #3899ec;
}

.paymentDetailsTooltipIconFocused {
    background: #3899ec;
    color: white;
}

.paymentContentSection {
    margin: 5px 0;
}