.bookingsListContainer {
    display: flex;
    flex-direction: column;
}

.bookingsListPage {
}

.bookingsListHeader {
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    display: inline;
}

.amount {
    margin: 0 10px;
    color: #bbc6d1;
}

.tableLoader {
    padding: 10px;
}

.emptyState {
    padding: 10px;
}