.slotsContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.dayPart {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 28%;
}

.errorMessageContainer {
    margin-bottom: 10px;
}

.noSlotsText {
    margin: 5px 0;
}